<ul class=" menu ">
    <li>
        <a href = "{% url 'products:start_page' %}">
            На главную
        </a>
    </li>
    <li>
        <a href = "{% url 'admin_custom:users' %}"
            class="{% if request.resolver_match.url_name == 'users' %} active {% endif %}">
            Пользователи
        </a>
    </li>
    <li>
    <a href="{% url 'admin_custom:catalog' %}"
       class="{% if request.resolver_match.url_name == ' catalog ' or category.name %} active {% endif %}">
            Категории
        {% if category %}
            <span>{{category.name}}</span>
        {% endif %}
    </a>
    </li>
</ul>