                <nav>
                    <ul class="menu">
                        <li><a href="{% url 'products:start_page'%}">Главная</a></li>
                        <li><a href="{% url 'products:catalog'%}" class="expand-catalog">Каталог</a>
                            <div class="submenu">                             
                                <a href="#">Обеденный стол</a>
                                <a href="#">Диван для кухни</a>
                                <a href="#">Кухонный гарнитур</a>                            
                        </div>
                        </li>
                        <li><a href="{% url 'products:contacts'%}">Контакты</a></li>
                        <li><a href="{% url 'products:registration'%}" >Регистрация</a></li>
                    </ul>                   
                </nav>