{% extends 'master.html' %}

{% load staticfiles %}

{% block page_title %} Catalog
{% endblock %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
{% endblock %}

{% block page_content %}
{{ block.super }}
<div class="customers-form">
<h1><strong><em> {{category.short_desc}}</em></strong></h1>
<a href="{% url 'products:create'%}">Добавить товар</a>
</div>
<div class="catalog-page">

    <br>
    <br>
        <main class="main">
            {% for product in products%}
            <figure class="item">
                <a href="/catalog/{{category.name}}/{{product.name}}/"> <img src="/media/{{product.image.value}}"
                                                   alt={{product.short_desc}}
                                                   title={{product.short_desc}}
                                                   height=300>
                <br>
                <p>{{product.short_desc}}</p>
    </a>
    </figure>

    {% endfor %}
    </main>
<a href="/categories/update/{{category.name}}/">Редактировать</a>
<br><br>
<a href="/categories/delete/{{category.name}}/">Удалить</a>
</div>
{% endblock %}
