{% extends 'master.html' %}

{% load static %}

{% block page_title %} Панель управления {% endblock %}

{% block menu %}
{% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'web_shop/style.css' %}">
    <link rel="stylesheet" href="{% static 'adminapp/css/admin.css' %}">
{% endblock %}

{% block page_content %}
{{ block.super }}
<div class="admin">
<h1>Управление интернет-магазином</h1>
    <!--<h2>Выберите раздел:</h2>-->
    <ul>
        <li><a href="{% url 'admin_custom:users'%}"> --> Пользователи</a></li>
        <li><a href="{% url 'admin_custom:category'%}"> --> Категории</a></li>
        <li><a href="{% url 'admin_custom:product_list'%}"> --> Товары</a></li>
    </ul>
    
</div>
{% endblock %}
