{% extends 'master.html' %}

{% load static %}

{% block page_title %} Категории товара {% endblock %}
{% block page_styles %}
   <link rel="stylesheet" href="{% static 'web_shop/style.css' %}">
{% endblock %}

{% block menu %}
{% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}

{% block page_content %}
{{ block.super }}

<!--Постраничный переход -->
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'admin_custom:category'%}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'admin_custom:category'%}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
<!--Перемещение по номерам страниц-->
        <div class="num_pages">
            {% for pn in page_obj.paginator.page_range %}
            {% if not forloop.first %}
                &nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}

            {% if page_obj.number != pn %}
            <a href="{% url 'admin_custom:category' %}?page={{pn}}">
            {% endif %}
            {{pn}}
            {% if page_obj.number != pn %}
            </a>
            {% endif %}
            {% endfor %}
        </div>

<div class = "categories_list">

    <form>
            <input type="button" class = "new_category" value="Добавить&nbsp;новую&nbsp;категорию"
                   onClick='location.href="{% url "admin_custom:category_create" %}"'>
    </form>

    <br>
    {% for object in objects %}
        {% if object.is_active %}
            <div class="category_record">
                <div class="category_name">
                {{object.name|title}}
                </div>
                <div class="category_actions">
                <form>
                        <input type="button"  value="Товары&nbsp;категории"
                   onClick='location.href="{% url "admin_custom:category_products" object.name %}"'>
                </form>

                <form>
                        <input type="button"  value="Редактировать"
                   onClick='location.href="{% url "admin_custom:category_update" object.name %}"'>
                </form>

                <form>
                        <input type="button"  value="Удалить"
                   onClick='location.href="{% url "admin_custom:category_delete" object.name %}"'>
                </form>

                </div>
                <div class="category_desc">
                    {{object.descr|title}}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% for object in objects %}
        {% if not object.is_active %}
        {% if forloop.first %}
            <h2>Категории в архиве</h2>
        {% endif %}
            <div class="category_record">
                <div class="category_name">
                {{object.name|title}}
                </div>
                <div class="category_actions">
               <form>
                        <input type="button"  value="Товары&nbsp;категории"
                   onClick='location.href="{% url "admin_custom:category_products" object.name %}"'>
                </form>

                <form>
                        <input type="button"  value="Редактировать"
                   onClick='location.href="{% url "admin_custom:category_update" object.name %}"'>
                </form>

                <form>
                        <input type="button"  value="Удалить"
                   onClick='location.href="{% url "admin_custom:category_delete" object.name %}"'>
                </form>

                </div>
                <div class="category_desc">
                    {{object.descr|title}}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
