{% extends 'adminapp/master.html' %}

{% load staticfiles %}

{% block page_title %} Категории товара {% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{%static 'adminapp/css/style.css' %}">
{% endblock %}

{% block page_content %}
{{ block.super }}

<div class = "categories_list">
    <button class = "new_category">
        <a href = "{% url 'admin_custom:category_create' %}">
            Добавить новую категорию
        </a>
    </button>
    <br>
    {% for object in objects %}
        {% if object.is_active %}
            <div class="category_record">
                <div class="category_name">
                {{object.name|title}}
                </div>
                <div class="category_actions">
                <button>
                    <a href="{% url 'admin_custom:products' object.name %}">
                        Товары категории
                    </a>
                </button>
                <button>
                    <a href= "{% url 'admin_custom:category_update' object.name %}">
                        Редактировать
                    </a>
                </button>
                <button>
                    <a href="{% url 'admin_custom:category_delete' object.name %}">
                        Удалить
                    </a>
                </button>
                </div>
                <div class="category_desc">
                    {{object.descr|title}}
                </div>
            </div>
    {% endif %}
    {% endfor %}
     <h2>Категории в архиве</h2>
    {% for object in objects %}
        {% if not object.is_active %}
            <div class="category_record">
                <div class="category_name">
                {{object.name|title}}
                </div>
                <div class="category_actions">
                <button>
                    <a href="{% url 'admin_custom:products' object.name %}">
                        Товары категории
                    </a>
                </button>
                <button>
                    <a href= "{% url 'admin_custom:category_update' object.name %}">
                        Редактировать
                    </a>
                </button>
                <button>
                    <a href="{% url 'admin_custom:category_delete' object.name %}">
                        Удалить
                    </a>
                </button>
                </div>
                <div class="category_desc">
                    {{object.descr|title}}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
