{% extends 'adminapp/master.html' %}

{% load staticfiles %}

{% block page_title %} {{title}} {% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{%static 'adminapp/css/style.css' %}">
{% endblock %}

{% block page_content %}
{{ block.super }}

<div class = "object_delete">
    <br>
    Подтвердите перемещение {{subject}} {{name}} в раздел {{part_name}}.
    <p>Запись останется в БД с is_active=0</p>
<form action ="{% url url_name url_arg %}"method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Переместить">
<!--<button class="btn btn-danger">-->
    <!--<a href="{% url 'admin:users' %}">-->
        <!--Удалить-->
    <!--</a>-->
</button>



</form>
<button class="btn btn-success">
    <a href="{% url 'admin:users' %}">
        Отмена
    </a>
</button>
</div>


{% endblock %}
