{% extends 'master.html' %}

{% load static %}

{% block page_title %} Товары {% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'web_shop/style.css' %}">
    <link rel="stylesheet" href="{% static 'adminapp/css/admin.css' %}">
{% endblock %}

{% block menu %}
    {% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}

{% block page_content %}
    {{ block.super }}

    <div class="add_object">
        <input type="button" value="Добавить товар" id="add_object"
               class="product_image"
               onClick='location.href="{% url "admin_custom:product_create" %}"'>
    </div>

    <h2 class="category">Категория {{ products.0.category.name }}</h2>

    <div class="objects_list">
        {% for object in products %}
            <div class="object_data">
                <section class="object_name">
                    {{ object.name|capfirst }}
                </section>
                <p><span>Цена: </span>
                    {{ object.price|floatformat }} руб.</p>
                <p><span>Количество: </span>
                    {{ object.quantity }} шт.</p>
                <p><span>Скидка: </span>
                    {{ object.discount|floatformat }}%</p>
                <p><span>Краткое описание: </span>
                    {{ object.short_desc|capfirst }}</p>
                <div class="product_image">
                    <img src="/media/{{ object.image.value|default:'adminapp/img/default.jpg' }}"
                         alt="{{ object.name }}" id="product_image">
                </div>
                <div class="product_actions">
                    <input type="button" value="Редактировать"
                           onClick='location.href="{% url "admin_custom:product_update" object.name %}"'>

                    <input type="button" value="Удалить"
                           onClick='location.href="{% url "admin_custom:product_delete" object.name %}"'>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--Постраничный переход -->
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'admin_custom:category_products'  products.0.category.name %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'admin_custom:category_products' products.0.category.name %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}

