{% extends 'master.html' %}

{% load static %}

{% block page_title %} Пользователи {% endblock %}
{% block page_styles %}
   <link rel="stylesheet" href="{% static 'web_shop/style.css' %}">
{% endblock %}

{% block menu %}
{% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}


{% block page_content %}
{{ block.super }}

<!--Постраничный переход -->
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'admin_custom:users'%}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'admin_custom:users'%}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
<!--Перемещение по номерам страниц-->
        <div class="num_pages">
            {% for pn in page_obj.paginator.page_range %}
            {% if not forloop.first %}
                &nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}

            {% if page_obj.number != pn %}
            <a href="{% url 'admin_custom:users' %}?page={{pn}}">
            {% endif %}
            {{pn}}
            {% if page_obj.number != pn %}
            </a>
            {% endif %}
            {% endfor %}
        </div>

<div class ="users_list">

    <form>
            <input type="button"  value="Добавить пользователя"
       onClick='location.href="{% url "admin_custom:user_create" %}"'>
    </form>

    <!--<h2>Активные пользователи</h2>-->
    {% for object in objects %}
        <!--{% if object.is_active %}-->
        <div>
            <div class="user_name">
                <p><strong>Login: {{object.username}}</strong></p>
                <p>
                {% if object.first_name %}
                <b>Name:</b> {{object.first_name|title }}
                {% if object.last_name %}
                {{object.last_name|title}}
                {% endif %}
                {% endif %}
                </p>

            {% if object.is_superuser %}
            <b> Role: </b> Администратор
            {% else %}
                Role: Пользователь
            {% endif %}
            </div>

            <div class="user_email">
                {% if object.email %} <b>Email: </b> {{object.email}} {% endif %}
            </div>
            <div class="user_lastlogin">
            <b>Last seen:</b> {{object.last_login}}
            </div>
        </div>
            <img src="/media/{{object.avatar|default:'users_avatars/avatar.png'}}" width=200px height=200px alt="{{object.username}}">
        <div class="user_role">
                <form>
                <input type="button"  value="Редактировать"
                onClick='location.href="{% url "admin_custom:user_update" object.username %}"'>
                </form>

                <form>
                <input type="button"  value="Удалить"
                onClick='location.href="{% url "admin_custom:user_delete" object.username %}"'>
                </form>
        </div>
        <!--{% endif %}-->
     <br><br>
        {% endfor%}

    <!--<h2>Заблокированные пользователи</h2>-->
    <!--{% for object in objects %}-->
        <!--{% if not object.is_active %}-->
        <!--<div>-->
            <!--<div class="user_name">-->
                <!--<p><strong>Login: {{object.username}}</strong></p>-->
                <!--<p>-->
                <!--{% if object.first_name %}-->
                <!--<b>Name:</b> {{object.first_name|title }}-->
                <!--{% if object.last_name %}-->
                <!--{{object.last_name|title}}-->
                <!--{% endif %}-->
                <!--{% endif %}-->
                <!--</p>-->

            <!--{% if object.is_superuser %}-->
            <!--<b> Role: </b> Администратор-->
            <!--{% else %}-->
            <!--<b> Role: </b> Пользователь-->
            <!--{% endif %}-->
            <!--</div>-->

            <!--<div class="user_email">-->
                <!--{% if object.email %} <b>Email: </b> {{object.email}} {% endif %}-->
            <!--</div>-->
            <!--<div class="user_lastlogin">-->
            <!--<b>Last seen:</b> {{object.last_login}}-->
            <!--</div>-->
        <!--</div>-->


        <!--</div>-->
            <!--<img src="/media/{{object.avatar|default:'users_avatars/avatar.png'}}" width=200px height=200px alt="{{object.username}}">-->
        <!--<div class="user_role">-->
                <!--<form>-->
                <!--<input type="button"  value="Редактировать"-->
                <!--onClick='location.href="{% url "admin_custom:user_update" object.username %}"'>-->
                <!--</form>-->

                <!--<form>-->
                <!--<input type="button"  value="Удалить"-->
                <!--onClick='location.href="{% url "admin_custom:user_delete" object.username %}"'>-->
                <!--</form>-->
        <!--{% endif %}-->
            <!--<br><br>-->

        <!--{% endfor%}-->

<!--</div>-->

{% endblock %}
