{% extends 'adminapp/master.html' %}

{% load staticfiles %}

{% block page_title %} Пользователи {% endblock %}
{% block page_styles %}
<link rel="stylesheet" href="{%static 'adminapp/css/style.css' %}">
{% endblock %}

{% block page_content %}
{{ block.super }}


<div class =" users_list ">
    <button class = "new_user">
        <a href ="{% url 'admin:user_create' %}">
           Добавить пользователя
        </a>
    </button>
    {% for object in objects %}
        <div  class="user_record {% if not object.is_active %} not_active {% endif %}">
            <div class="user_name">
                <p><strong>Логин: {{object.username}}</strong></p>
                <p>
                {% if object.first_name %}
                <b>{{object.first_name|title }}</b>
                {% if object.last_name %}
                <p>{{object.last_name|title}}</p>
                {% endif %}
                {% endif %}
                </p>
        </div>
            <img src="/media/{{object.avatar|default:'users_avatars/avatar.png'}}" alt="{{object.username}}">
        <div class="user_role">

            <button>
                <a href="{% url 'admin:user_update' object.username %}">
                    Редактировать
                </a>
            </button>
            <button>
                <a href="{% url 'admin:user_delete' object.username %}">
                    Удалить
                </a>
            </button>
            <br>
            {% if object.is_superuser %}
                Роль в системе: Администратор
            {% else %}
                Роль в системе: Пользователь
            {% endif %}
            </div>

            <div class="user_email">
        email: {{object.email}}
        </div>
        <div class="user_lastlogin">
        logged: {{object.last_login}}
        </div>
    </div>
    {% endfor%}
</div>




{% endblock %}
