{% extends 'master.html' %}

{% load static %}

{% block page_title %} {{title}} {% endblock %}
{% block page_styles %}
   <link rel="stylesheet" href="{% static 'web_shop/style.css' %}">
{% endblock %}

{% block menu %}
{% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}

{% block page_content %}
{{ block.super }}

<div class = "object_delete">
    <p>Подтвердите перемещение {{subject}} {{name}} в раздел {{part_name}}.</p>
    <p>Запись останется в БД с is_active=0</p>
<form method="post">
    {% csrf_token %}
    <input class="replace-button" type="submit" value="Переместить">

</form>

<!--<form>-->
    <!--<input type="button"  value="Отмена"-->
       <!--onClick='location.href="{{ url_cancel }}"'>-->
<!--</form>-->


{% endblock %}
