<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>     

	{% block page_styles %}
    {% endblock %}
	
</head>

<body>
    <div class="container">
        <div class="content">
            <header> 
               <a href="/"><img src="{%static 'mainapp/img/logo.jpg' %}" alt="Логотип" class="logo"></a>
               {% include 'mainapp/includes/inc_menu.html' %}
            </header>            
            {% block page_content %}
            {% now "j F Y" %}
            {% endblock %}
            
        </div>
        <footer>
            <p>&copy;All rights reserved</p>
        </footer>
    </div>
</body>

</html>