{% extends 'master.html' %}
{% load staticfiles %}
{% block page_title %} Table
{% endblock %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
{% endblock %}

{% block page_content %}
{{ block.super }}
<div class="product-page Description">
    <div class="title">
        <!--<h1>Обеденный стол (стекло)</h1>-->
        <h1>{{product.short_desc}}</h1>
        <p> Скидка: <span class="new_price">{{product.discount|floatformat}}%</span></p>
    </div>
    <div class="product-item">
        <a href="{%static 'mainapp/img/table.jpg' %}" target="_blank"> <img src="{%static 'mainapp/img/table.jpg' %}"
                                                         alt="Обеденный стол(стекло)" title="Обеденный стол(стекло)"
                                                         height=300> </a>
        <div class="product-hover">
            <section class="feature">

                <br>
                <table>
                    <caption>Технические характеристики:</caption>
                    <tr>
                        <td colspan="2">
                            <h3>Габариты (см):</h3></td>
                    </tr>
                    <tr>
                        <td>Длина</td>
                        <td>1710</td>
                    </tr>
                    <tr>
                        <td>Глубина</td>
                        <td>750</td>
                    </tr>
                    <tr>
                        <td>Высота</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>Дополнительные характеристики:</h3></td>
                    </tr>
                    <tr>
                        <td>Материал</td>
                        <td>
                            <ul>
                                <li>ЛДСП</li>
                                <li>Металл</li>
                                <li>Стекло</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Производитель</td>
                        <td>ЦМ</td>
                    </tr>
                    <tr>
                        <td>Съемные чехлы</td>
                        <td>Нет</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>Гарантия 18&nbsp;мес.</h3></td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
    <div class="desc_item">
        <section class="short_desc">
            <div class="price">
                <p class="old_price">{{product.price|floatformat}}р</p>
                <p class="new_price">{{new_price|floatformat}}p</p>

            </div>
            <br>
            <br>
            <br>
            <p class="in_stock">В наличии: {{product.quantity}} шт</p>
            <br>
            <br></section>
        <section class="full_desc">
            <details class="customers-form">
                <summary>Подробнее...</summary>
                <article>
                    <p>{{product.descr}}</p>
                    <!--<p>Элегантный стол с автоматическим механизмом трансформации столешницы – функциональная деталь-->
                        <!--интерьера как для обеденной группы в столовой, так и для современной гостиной. Вставная деталь-->
                        <!--хранится внутри, что упрощает использование модели. Качественная, износостойкая керамическая-->
                        <!--поверхность защищена от механических повреждений, поэтому срок ее службы исчисляется-->
                        <!--десятилетиями.</p>-->
                    <!--<p> Прочная конструкция из нержавеющей стали в качестве основания отличается устойчивостью и-->
                        <!--современной изысканностью линий. Универсальная и благородная палитра – исключительное решение-->
                        <!--для эксклюзивных дизайнерских проектов.</p>-->
                </article>
            </details>
        </section>
        <button type="submit">В&nbsp;корзину!</button>
    </div>
    </div>
    {% endblock %}
