{% extends 'master.html' %}

{% load staticfiles %}

{% block page_title %} Catalog
{% endblock %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
{% endblock %}

{% block page_content %}
{{ block.super }}
<div class="catalog-page">

    <br>
    <br>
    <div class="sale">
        {% for cat in categories %}
        <h2><a href="/catalog/{{cat.name}}/" title={{cat.descr}}>{{cat.short_desc}}</a></h2>
        {% endfor %}
        <a href="{% url 'categories:create'%}">Добавить категорию</a>
        <!--<h2><strong>Акция!!!</strong></h2>-->
        <!--<h2><strong>Акция!!! <span class = "new_price"></span> </strong></h2>-->
        <!--<h2><strong>Акция!!!</strong></h2>-->
    </div>

    <h3>Акция только в октябре! Скидки до 20% </h3>

    <!--<main class="main">-->
        <!--{% for link in links %}-->
        <!--<figure class="item">-->
            <!--<a href={{link.href}}><img src={{link.src}} title={{link.name}}>-->
                <!--<br>-->
                <!--<p>{{link.name}}</p>-->
            <!--</a>-->
        <!--</figure>-->

        <!--{% endfor %}-->
    <!--</main>-->

<div class ="paginator ">
{% if products.has_previous %}
<a href ="{% url 'products:catalog' products.previous_page_number %}">
Prev
</a>
{% endif %}
<span class="current">
страница {{products.number}} из
{{products.paginator.num_pages}}
</span>
{% if products.has_next %}
<a href="{% url 'products:catalog' products.next_page_number %}">
Next
</a>
{% endif %}
</div>


         <main class="main">
            {% for product in products%}
            <figure class="item">
                <a href="/catalog/{{product.category.name}}/{{product.name}}/"> <img src="/media/{{product.image.value}}"
                                                   alt={{product.short_desc}}
                                                   title={{product.short_desc}}
                                                   height=300>
                <br>
                <p>{{product.short_desc}}</p>
    </a>
    </figure>

    {% endfor %}
    </main>


</div>
{% endblock %}
        