{% extends 'master.html' %}

{% load staticfiles %}

{% block page_title %} Cozy kitchen {% endblock %}
{% block page_styles %}
<link rel="stylesheet" href="{%static 'mainapp/css/style.css' %}">   
{% endblock %}


{% block page_content %}
{{ block.super }} 
<div class="main-page">
<main>
<h1><strong><em> {{company.title}}</em></strong></h1>
<sector><em>{{company.advertisement}}</em></sector>
<p><em><bold>С нами уютно:)</bold></em></p> <img src="{%static 'mainapp/img/main-photo.jpg' %}"
alt="Изумруд"> </main>
</div>  
{% endblock %}

