<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css/style.css"> </head>

<body>
    <div class="container">
        <div class="content">
            <header> <img src="/static/img/logo.jpg" alt="Логотип" class="logo">
                <nav>
                    <ul class="menu">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/Catalog/" class="expand-catalog">Каталог</a></li>
                        <li><a href="/Contacts/">Контакты</a></li>
                        <li><a href="/Registration/" >Регистрация</a></li>
                    </ul>
                </nav>
            </header>
            <main class="registr_form">
                <!-- РЕГИСТРАЦИЯ -->
                <h1><strong><em>Регистрация</em></strong></h1>
                <form action="#" class="registration">
                   <fieldset>
                    <input type="text" placeholder="Логин">
                    <br>
                    <br>
                    
                    <input type="password" name="usrtel" placeholder="Пароль">
                    <br>
                    <br>
                    
                    <input type="password" name="usrtel" placeholder="Подтверждение пароля">
                    <br>
                    <br>                    
                    
                        <input type="file">
                    <br>
                    <br>
                    <button type="submit" class="registr_button">Зарегистрироваться!</button>
                    </fieldset>
                </form>
            </main>
        </div>
        <footer>
            <p>&copy;All rights reserved</p>
        </footer>
    </div>
</body>

</html>