{% extends 'master.html' %}

{% load staticfiles %}

{% block page_title %} Registration {% endblock %}
{% block page_styles %}
<link rel="stylesheet" href="{%static 'mainapp/css/style.css' %}">   
{% endblock %}        
           
{% block page_content %}
{{ block.super }}          
<main class="registr_form">
    <!-- РЕГИСТРАЦИЯ -->
    <h1><strong><em>{{reg}}</em></strong></h1>
    <form action="#" class="registration">
       <fieldset>
        <input type="text" placeholder="Логин">
        <br>
        <br>

        <input type="password" name="usrtel" placeholder="Пароль">
        <br>
        <br>

        <input type="password" name="usrtel" placeholder="Подтверждение пароля">
        <br>
        <br>                    

            <input type="file">
        <br>
        <br>
        <button type="submit" class="registr_button">Зарегистрироваться!</button>
        </fieldset>
    </form>
</main>
{% endblock %}        