{% load static %}
{% load cart %}
<nav>
    <ul class="menu">
        <li><a href="{% url 'products:start_page'%}">Главная</a></li>
        <li><a href="{% url 'products:catalog'%}" class="expand-catalog">Каталог</a>
        </li>
        <li><a href="{% url 'products:contacts'%}">Контакты</a></li>
        <!--<li><a href="{% url 'products:registration'%}">Регистрация</a></li>-->

        {% if user.is_authenticated %}

                <li>
            <!--<a href="{% url 'auth:edit' user.username %}">-->
            <a href="{{user.get_absolute_url}}">
                {{ user.username|default:'Пользователь'}}
            </a>
        </li>
        {% endif %}
        <li class="userapp">
            {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
            {% else %}
            <a href="{% url 'auth:login' %}">войти</a>

            {% endif %}

 <!--<svg aria-hidden="true" class="icon icon-basket">-->
    <!--<use xlink:href="{}"></use>-->
  <!--</svg>-->
        <!--<span class="elem-cart__num ng-binding ng-hide" data-ng-bind="cartData.model.totalBasketQuantity" data-ng-show="cartData.model.totalBasketQuantity > 0">0</span>-->
         <!--Корзина-->
    <!--</a>-->
        {% if user.is_superuser %}
        <li><a href="{% url 'admin_custom:admin_page' %}">Настройка</a></li>
        {% endif %}
        <li>
            <a href="{% url 'basket:basket' %}"><img src="{%static 'web_shop/img/basket.png' %}" alt="Корзина" class="basket"></a>
        </li>
        {% if user.is_authenticated %}
        <li id="total_quantity">
            {{user.id|total_quantity}}
        </li>
        {% endif %}

    </li>
        </li>
    </ul>
</nav>