{% load staticfiles %}
<nav>
    <ul class="menu">
        <li><a href="{% url 'products:start_page'%}">Главная</a></li>
        <li><a href="{% url 'products:catalog'%}" class="expand-catalog">Каталог</a>
        </li>
        <li><a href="{% url 'products:contacts'%}">Контакты</a></li>
        <!--<li><a href="{% url 'products:registration'%}">Регистрация</a></li>-->
        {% if user.is_authenticated %}

                <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.username|default:'Пользователь'}}
            </a>
        </li>
        <li>
            <a href="{% url 'basket:basket' %}"><img src="{%static 'mainapp/img/basket.png' %}" alt="Корзина" class="basket" height="80px"></a>
        </li>
        {% endif %}
        <li class="userapp">
            {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
            {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}
        </li>
    </ul>
</nav>