{% load staticfiles %}
<nav>
    <ul class="menu">
        <li><a href="{% url 'products:start_page'%}">Главная</a></li>
        <li><a href="{% url 'products:catalog' 1%}" class="expand-catalog">Каталог</a>
        </li>
        <li><a href="{% url 'products:contacts'%}">Контакты</a></li>
        <!--<li><a href="{% url 'products:registration'%}">Регистрация</a></li>-->

        {% if user.is_authenticated %}

                <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.username|default:'Пользователь'}}
            </a>
        </li>
        {% endif %}
        <li class="userapp">
            {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">Выйти</a>
            {% else %}
            <a href="{% url 'auth:login' %}">Войти</a>
            {% endif %}
        <li><a href="{% url 'admin_custom:admin_page' %}">Настройка</a></li>
                 <li>
            <a href="{% url 'basket:basket' %}"><img src="{%static 'mainapp/img/basket.png' %}" alt="Корзина" class="basket" height="80px"></a>
        </li>
        </li>
    </ul>
</nav>